footer{
  margin: 0;
  color: #ffffff;
  background-color: #3d3d3d;
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0px;
  font-size: 14px;
}
footer a {
  color: #00a2ff;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
.footer-info {
  display: flex;
  flex-direction: column;
}
.footer-sitemap {
  display: flex;
  flex-direction: row;
  align-items: center;
}