.main {
    font-size: 25px;
}
.main a {
    color: #ffffff;
}
.main h3 {
    padding-left: 1em;
}
.main p {
    padding-left: 1em;
}
.blog-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.blog-item {
    display: flex;
    flex-direction: column;
    width: calc(50% - 20px);
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
}
.blog-thumbnail img {
    width: 100%;
    height: auto;
}
.blog-content {
    padding: 15px;
}
.blog-content h2 {
    font-size: 1.5em;
    margin: 0;
}
.blog-content p {
    margin: 10px 0;
}
.blog-content a {
    color: #fff;
    text-decoration: none;
}
.blog-content a:hover {
    text-decoration: underline;
}
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.search-bar input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}
.search-bar button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.search-bar button:hover {
    background-color: #0056b3;
}
