body{
    margin: 0;
    color: #ffffff;
    background-color: #181a1b;
    font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}
.main{
    font-size: 25px;
}
.main a{
    color: #ffffff;
}
.main h3{
    padding-left: 1em;
}
.main p{
    padding-left: 1em;
}