.logo-container{
    padding: 30px 10px 10px 10px;
}
.logo{
    width: 250px;
    height: 250px;
    float: left;
    box-shadow: 10px 10px 0 #ff9600;
}
.name{
    font-size: 40px;
    padding: 0px 0px 0px 285px;
}
.url{
    clear: right;
    font-size: 30px;
    padding: 0px 0px 0px 290px;
}
.profile{
    padding: 140px 0px 0px 0px;
    font-size: 30px;
}
.profile h2{
    padding: 0px 0px 0px 10px;
}
.profile p{
    padding: 0px 0px 0px 10px;
    padding-left: 1em;
    font-size: 35px;
}
.profiles p{
    padding: 0px 0px 0px 10px;
    padding-left: 1em;
    font-size: 35px;
}
.profiles a{
    color: #ffffff;
}
.pcspecs{
    font-size: 30px;
}
.pcspec{
    padding: 0px 0px 0px 10px;
    font-size: 40px;
}
.youtube-logo{
    width: 75px;
    height: 75px;
    float: left;
    padding: 10px 20px;
}
.x-logo{
    width: 75px;
    height: 75px;
    float: left;
    padding: 10px 20px;
}