body{
    margin: 0;
    color: #ffffff;
    background-color: #242728;
    font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}
.logo{
    width: 250px;
    height: 250px;
    float: left;
    box-shadow: 10px 10px 0 #ff9600;
}
.name{
    font-size: 40px;
    padding: 0px 0px 0px 285px;
}
.url h2 a {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px;
   width: 260px;
   color: #000000;
   font-size: 18px;
   font-weight: 700;
   text-decoration: none;
   background-color: #ff9500;
   border-radius: 40px;
}
.url h2 a::after {
   content: '';
   width: 10px;
   height: 10px;
   border-top: 2px solid #683d00;
   border-right: 2px solid #683d00;
   transform: rotate(45deg);
}
.url{
    clear: right;
    display: block;
    padding: 0px 0px 0px 290px;
}
.logo-container01{
    padding: 30px 10px 10px 10px;
}
.logo-container02{
    padding: 110px 10px 10px 10px;
}
.youtube-logo{
    width: 75px;
    height: 75px;
    float: left;
    padding: 0px 20px;
}