body {
    margin: 0;
    color: #ffffff;
    background-color: #242728;
    font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}
.main h1, .main h2, .main h3, .main p, .main a {
    text-align: center;
}
.main {
    padding: 20px;
    background-color: black;
    margin-left: 10%;
    margin-right: 10%;
}
.main p {
    line-height: 1.6;
}
.main a {
    color: #1e90ff;
    text-decoration: none;
}
.main a:hover {
    text-decoration: underline;
}
.main img {
    height: auto;
    display: block;
    margin: 20px 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 600px) {
    .main img {
        margin-left: 10%;
        margin-right: 10%;
        max-width: 60%;
    }
}