.main h1, .main h2, .main h3, .main p, .main a {
    text-align: center;
    font-size: 100%;
}
.main {
    padding: 20px;
    background-color: #181a1b;
    margin-left: 12.5%;
    margin-right: 12.5%;
}
.main p {
    line-height: 1.6;
}
.main a {
    color: #1e90ff;
    text-decoration: none;
}
.main a:hover {
    text-decoration: underline;
}
.main img {
    height: auto;
    display: block;
    margin: 20px 0;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}